<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id = "a" class="hfnu.jsj.cn.AImpl" />
        <bean id = "b" class="hfnu.jsj.cn.BImpl">
            <property name="a" ref="a"></property>
        </bean>
        <bean id = "c" class="hfnu.jsj.cn.CImpl">
            <property name="a" ref="a"></property>
            <property name="b" ref="b"></property>
        </bean>
        <bean id = "d" class="hfnu.jsj.cn.DImpl">
            <property name="a" ref="a"></property>
            <property name="b" ref="b"></property>
            <property name="c" ref="c"></property>
        </bean>

</beans>